<div th:fragment="content" class="text-white">
  <div class="mb-4">
    <h1
      class="fw-bold"
      th:text="${edit} ?  ${pageTitle} : 'Create a New Category' "
    ></h1>
    <p
      class="text-secondary"
      th:text="${edit} ? 'Edit the name, risk level and description.' : 'Define the name, risk level and description.' "
    ></p>
  </div>
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-10 ms-5">
        <div class="card bg-dark">
          <div class="card-body p-5">
            <form
              id="category-form"
              th:object="${category}"
              th:action="${edit} ? @{/categories/edit/{id}(id = ${category.id})} : @{/categories/create}"
              method="post"
              class="row ms-5 ps-5"
            >
              <!-- name -->
              <div class="mb-3 col-5">
                <label for="name" class="form-label"
                  ><strong>NAME:</strong></label
                >
                <input
                  type="text"
                  id="name"
                  th:field="*{name}"
                  th:errorClass="is-invalid"
                  class="form-control"
                />
                <div
                  class="invalid-feedback"
                  th:if="${#fields.hasErrors('name')}"
                >
                  <ul>
                    <li
                      th:each="err : ${#fields.errors('name')}"
                      th:text="${err}"
                    ></li>
                  </ul>
                </div>
              </div>

              <!-- risk_level -->
              <div class="mb-3 col-5">
                <label for="riskLevel" class="form-label"
                  ><strong>RISK LEVEL:</strong></label
                >

                <select
                  th:classappend="${#fields.hasErrors('riskLevel')} ? 'is-invalid' : ''"
                  id="riskLevel"
                  name="riskLevel"
                  th:value="${category.riskLevel}"
                  class="form-select"
                >
                  <option
                    value=""
                    th:selected="${category.riskLevel == null}"
                    disabled
                  ></option>
                  <option
                    th:each="level : ${T(org.exam.java.spring.asset_manager.model.Category.RiskLevel).values()}"
                    th:value="${level}"
                    th:text="${level.label}"
                    th:selected="${category.riskLevel == level}"
                  ></option>
                </select>
                <div
                  class="invalid-feedback"
                  th:if="${#fields.hasErrors('riskLevel')}"
                >
                  <ul>
                    <li
                      th:each="err : ${#fields.errors('riskLevel')}"
                      th:text="${err}"
                    ></li>
                  </ul>
                </div>
              </div>

              <!-- description -->
              <div class="mb-3 col-10">
                <label for="description" class="form-label"
                  ><strong> DESCRIPTION: </strong>
                </label>

                <textarea
                  id="description"
                  th:field="*{description}"
                  th:errorClass="is-invalid"
                  class="form-control"
                  rows="5"
                ></textarea>
                <div
                  class="invalid-feedback"
                  th:if="${#fields.hasErrors('description')}"
                >
                  <ul>
                    <li
                      th:each="err : ${#fields.errors('description')}"
                      th:text="${err}"
                    ></li>
                  </ul>
                </div>
              </div>

              <!-- submit/reset -->
              <div class="d-flex gap-3">
                <button
                  type="submit"
                  class="btn btn-primary fw-bold"
                  value="create/edit category"
                  th:text="${edit} ? 'EDIT' : 'CREATE'"
                ></button>
                <button
                  type="reset"
                  class="btn btn-secondary"
                  value="reset all fields"
                >
                  <strong>RESET</strong>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>
