<div th:fragment="content" class="text-white">
  <div class="mb-4">
    <h2 class="fw-bold">[[${category.name}]] details</h2>
    <p class="text-secondary">
      Read the [[${category.name}]] details and the associated assets list.
    </p>
  </div>
  <div class="card mb-3 bg-dark">
    <div class="card-body">
      <h3 class="card-title mb-4 text-center">Description</h3>
      <p class="text-secondary mb-3" th:text="${category.description}"></p>
    </div>
  </div>
  <div class="d-flex gap-3 mb-5">
    <a
      th:href="@{/categories/edit/{id}(id=${category.id})}"
      class="btn btn-sm btn-outline-warning me-2"
      ><i class="fa-solid fa-pen-to-square p-1"></i
    ></a>
    <form
      th:action="@{/categories/delete/{id}(id = ${category.id})}"
      th:method="post"
      class="d-inline"
    >
      <button
        type="button"
        class="btn btn-sm btn-outline-danger"
        data-bs-toggle="modal"
        th:data-bs-target="|#delete-modal-${category.id}|"
      >
        <i class="fa-solid fa-trash p-1"></i>
      </button>

      <div
        class="modal fade"
        th:id="|delete-modal-${category.id}|"
        tabindex="-1"
        aria-hidden="true"
      >
        <div class="modal-dialog" data-bs-theme="dark">
          <div class="modal-content bg-dark text-white border-secondary">
            <div class="modal-header">
              <h4 class="modal-title">
                <strong> Delete Category</strong>
              </h4>
              <button
                type="button"
                class="btn-close-white btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete the category: "<strong
                th:text="${category.name}"
              ></strong
              >"?
              <div class="text-danger fs-6">
                <strong> This action cannot be undone.</strong>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Cancel
              </button>
              <form
                th:action="@{/categories/delete/{id}(id=${category.id})}"
                method="post"
              >
                <button type="submit" class="btn btn-danger">
                  <i class="fa-solid fa-trash me-1"></i> Delete
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <h6 class="mt-5 mb-3 mx-1">
    Asset count:
    <span
      th:text="${category.assets != null ? category.assets.size() : 0}"
    ></span>
  </h6>

  <table
    th:if="${category.assets?.size() > 0}"
    class="table table-striped table-dark"
  >
    <thead>
      <tr>
        <th>TICKER</th>
        <th>NAME</th>
        <th>LAST PRICE</th>
        <th>UNLINK</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="asset : ${category.assets}">
        <td th:text="${asset.ticker}"></td>
        <td>
          <a
            th:href="@{/assets/{id}(id=${asset.id})}"
            th:text="${asset.name}"
          ></a>
        </td>
        <td th:text="'$ ' + ${asset.lastPrice}"></td>
        <td>
          <button
            type="button"
            class="btn btn-sm btn-outline-danger"
            data-bs-toggle="modal"
            th:data-bs-target="|#unlink-modal-${asset.id}|"
          >
            <i class="fa-solid fa-link-slash"></i>
          </button>

          <div
            class="modal fade"
            th:id="|unlink-modal-${asset.id}|"
            tabindex="-1"
            aria-hidden="true"
          >
            <div class="modal-dialog" data-bs-theme="dark">
              <div class="modal-content bg-dark text-white border-secondary">
                <div class="modal-header">
                  <h4 class="modal-title"><strong>Unlink Asset</strong></h4>
                  <button
                    type="button"
                    class="btn-close-white btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  Are you sure you want to unlink "<strong
                    th:text="${asset.name}"
                  ></strong
                  >" from categori "<strong th:text="${category.name}"></strong
                  >"?
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Cancel
                  </button>
                  <form
                    th:action="@{/assets/{id}/detach(id=${asset.id}, categoryId=${category.id})}"
                    method="post"
                  >
                    <button type="submit" class="btn btn-danger">
                      <i class="fa-solid fa-link-slash me-1"></i> Unlink
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
